@import '../vars';


.button {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 15px;

    background-color: $blue;
    color: $white;
    padding: 12px 70px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    cursor: pointer;
}
