.message {
  &__date {
    text-align: center;
    color: var(--dark-grey);
    margin-bottom: 20px;
  }

  &__text {
    color: var(--black);
    font-weight: 500;
    font-size: 12px;
    max-width: 380px;
    background-color: var(--grey);
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.you {
  margin-left: auto;
}

.interlocutor {
  margin-right: auto;
}
