<div class="chat">
    {{> Avatar src=src }}
    <div class="chat__inner">
        <div class="chat__userName">{{userName}}</div>
        <div class="chat__message">
            {{#if isYou}}
            <span class="chat__isYou">Вы:</span>
            {{/if}}
            <span class="chat__text">{{message}}</span>
        </div>
    </div>
    <div class="chat__inner chat__inner--right">
        <div class="chat__when">{{when}}</div>
        {{#if newMessages}}
        <div class="chat__newMessages">{{newMessages}}</div>
        {{/if}}
    </div>
</div>
