@import '../vars';

.chat-footer {
    box-sizing: border-box;
    border-radius: 15px;

    display: flex;

    height: 50px;
    padding: 10px;
    width: 100%;

    background-color: $super-ligth-grey;

    &__text-input {
        flex-grow: 1;
        margin: 0 20px;
    }

    input[type="file"] {
        display: none;
    }

    input[type="text"] {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        height: 28px;
        border-radius: 10px;
        border: 1px solid $grey;
    }

    svg {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
}
