@import '../vars';


.profile-item {
    position: relative;
    width: 100%;
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $ligth-grey;

    &:last-child {
        margin-bottom: 50px;
    }

    &__value {
        color: $grey;
    }
}

.profile-item input {
    text-align: end;
    border: none;
}

.profile-item input:focus {
    outline: none;
}
