<div class="avatar">
    <label class="label">
        <input type="file" type="file" name="avatar" />
        <figure class="avatar__figure">
            <img src="../src/assert/icons/profile.png" class="avatar__personal" alt="avatar">
            <figcaption class="avatar__figcaption">
                <img src="../src/assert/icons/80.png" alt="icon">
            </figcaption>
        </figure>
    </label>
</div>