<div class="chat">
    <div class="chat__user">
        <div class="chat__avatar">
            {{!-- <img src={{src}} alt="user-avatar"> --}}
        </div>
        <p class="chat__name">{{name}}</p>
    </div>
    <div class="chat__dots">
        <img src="../src/assert/icons/dots-1.png" alt="три точки" />
    </div>
</div>