<div class="chat-footer">
    <label>
        <svg fill="#1E1E1E" enable-background="new 0 0 511.99 511.99" viewBox="0 0 511.99 511.99"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="m479.092 43.497c-21.217-21.218-49.469-32.903-79.551-32.903-30.081 0-58.333 11.685-79.55 32.903l-291.48 291.492c-38.015 38.017-38.015 99.875 0 137.892 18.389 18.389 42.873 28.516 68.943 28.516 26.071 0 50.556-10.127 68.944-28.516l92.706-92.71 15.91 15.911c1.407 1.407 3.314 2.197 5.304 2.197s3.896-.79 5.304-2.197l193.47-193.478c43.864-43.867 43.864-115.242 0-159.107zm-10.607 148.499-188.166 188.174-10.607-10.607 188.168-188.175c32.167-32.168 32.167-84.51 0-116.678-15.561-15.56-36.278-24.129-58.338-24.129-22.059 0-42.776 8.569-58.337 24.129l-231.869 231.879c-2.929 2.929-2.929 7.678.001 10.606 2.928 2.93 7.677 2.929 10.606 0l33.095-33.096 15.909 15.91c1.407 1.407 3.314 2.197 5.304 2.197s3.896-.791 5.304-2.197l116.674-116.678c7.047-7.048 16.465-10.929 26.517-10.929 10.051 0 19.469 3.881 26.516 10.929 14.622 14.623 14.622 38.415 0 53.036l-214.685 214.693c-9.897 9.898-23.081 15.349-37.123 15.349-14.041 0-27.225-5.451-37.122-15.349-20.471-20.471-20.471-53.78 0-74.25l38.397-38.4c2.929-2.929 2.929-7.678-.001-10.607-2.929-2.93-7.678-2.928-10.606 0l-38.397 38.4c-26.318 26.319-26.318 69.144 0 95.463 12.731 12.731 29.682 19.743 47.73 19.743s34.998-7.011 47.729-19.743l214.684-214.692c20.47-20.47 20.47-53.778 0-74.249-9.881-9.881-23.065-15.323-37.123-15.323-14.059 0-27.243 5.442-37.124 15.323l-111.37 111.375-10.606-10.607 111.37-111.375c12.727-12.727 29.678-19.737 47.731-19.737 18.052 0 35.003 7.009 47.729 19.736 26.319 26.319 26.319 69.145 0 95.464-.003.004-214.684 214.692-214.684 214.692-15.555 15.556-36.272 24.123-58.337 24.123-22.063 0-42.781-8.567-58.336-24.123-32.167-32.168-32.167-84.511 0-116.679l291.48-291.492c18.384-18.385 42.868-28.509 68.942-28.509 26.075 0 50.561 10.125 68.943 28.509 38.018 38.018 38.018 99.876.002 137.894zm-64.53 22.105c4.452-25.583-3.157-52.874-22.873-72.59-15.561-15.561-36.278-24.13-58.337-24.13-4.824 0-9.577.434-14.232 1.237l43.299-43.301c12.727-12.727 29.678-19.736 47.729-19.736 18.053 0 35.004 7.009 47.73 19.736 26.319 26.319 26.319 69.145 0 95.465z">
            </path>
        </svg>
        <input type="file">
    </label>
    <label class="chat-footer__text-input">
        <input type="text" name="message">
    </label>
    <button>
        <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                d="m3.89884 6.61821c-.21615-1.94537 1.786-3.37334 3.55493-2.53543l11.94443 5.65787c1.9063.90305 1.9063 3.61565 0 4.51865l-11.94443 5.6579c-1.76893.8379-3.77108-.59-3.55493-2.5354l.59185-5.3266c.00407-.0367.00407-.0737 0-.1104zm1.9961 5.88179c-.25477 0-.46881.1916-.49694.4448l-.50527 4.5474c-.12969 1.1672 1.0716 2.024 2.13295 1.5213l11.94442-5.6579c1.1438-.5418 1.1438-2.1694 0-2.7112l-11.94442-5.65788c-1.06135-.50275-2.26264.35403-2.13295 1.52126l.50527 4.54742c.02813.2532.24217.4448.49694.4448h6.10496c.2761 0 .5.2239.5.5s-.2239.5-.5.5z"
                fill="rgb(0,0,0)" fill-rule="evenodd"></path>
        </svg>
    </button>
</div>
