<div class="form-password">
    {{> profile-item name="oldPassword" type="password" key="Старый пароль" value="•••••••"}}
    {{> profile-item name="newPassword" type="password" key="Новый пароль" value="•••••••••••"}}
    {{> profile-item name="newPassword-repeat" type="password" key="Повторите новый пароль" value="•••••••••••"}}
</div>