<div class="form-login">
    {{> input text="Логин" name="login" type="text" for="login" id="login" }}
    {{> input text="Пароль" name="password" type="password" for="password" id="password" }}
</div>