<div class="form-registration">
    {{> input text="Почта" type="email" for="email" id="email" }}
    {{> input text="Логин" type="text" for="login" id="login" }}
    {{> input text="Имя" type="text" for="first_name" id="first_name" }}
    {{> input text="Фамилия" type="text" for="second_name" id="second_name" }}
    {{> input text="Телефон" type="tel" for="phone" id="phone" }}
    {{> input text="Пароль" type="password" for="password" id="password" }}
    {{> input text="Пароль (еще раз)" type="password" for="password-repeat" id="password-repeat" }}
</div>