<div class="profile-form">
    {{> profile-item name="email" type="email" key="Почта" value="pochta@yandex.ru"}}
    {{> profile-item name="login" type="text" key="Логин" value="ivanivanov"}}
    {{> profile-item name="first_name" type="text" key="Имя" value="Иван"}}
    {{> profile-item name="second_name" type="text" key="Фамилия" value="Иванов"}}
    {{> profile-item name="display_name" type="text" key="Имя в чате"
    value="Vano"}}
    {{> profile-item name="phone" type="tel" key="Телефон" value="+7-909-967-30-30"}}
</div>