<div class="form-registration">
    {{> input text="Почта" type="email" name="email" }}
    {{> input text="Логин" type="text" name="login" }}
    {{> input text="Имя" type="text" name="first_name" }}
    {{> input text="Фамилия" type="text" name="second_name" }}
    {{> input text="Телефон" type="tel" name="phone" }}
    {{> input text="Пароль" type="password" name="password"}}
    {{> input text="Пароль (еще раз)" type="password" name="password-repeat"}}
</div>
