.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--super-light-grey);
  height: 100%;
}

.modal {
  position: relative;
  display: block;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  background-color: var(--white);
  border-radius: 20px;
  animation: popupOpen 0.8s;

  &__title {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  &__input {
    margin-top: 50px;
  }
}

.close {
  > button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
  }
}

@keyframes popupOpen {
  0% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}
