.chats {
  padding: 20px 12px;
  border-right: 1px solid var(--grey);

  &__button {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 12px;
    padding: 0 10px;
    color: var(--dark-grey);
  }

  &__error {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    color: var(--red);
  }

  &__list {
    overflow-y: auto;
    max-height: 600px;
    scrollbar-width: thin;
  }

  button {
    margin-bottom: 10px;
  }
}
