<div class="errorPage">
    <h1 class="errorPage__title">
        500
    </h1>
    <h2 class="errorPage__subtitle">
        Мы уже фиксим
    </h2>
    {{> Link text="Назад к чатам" href="/"}}
</div>
